.head {
  background-color: blue;
  width: auto;
}

.topCol1 {
  background-color: brown;
  float: left;
  width: 50%;
  overflow: hidden;
}

.topCol2 {
  background-color: darkcyan;
  float: right;
  width: auto;
  overflow: hidden;
}

.main {
  background-color: green;
  float: left;
  width: 20%;
  overflow: hidden;
}

.sec {
  background-color: yellow;
  float: left;
  width: auto;
  overflow: hidden;
}

.third {
  background-color: aqua;
  float: right;
  width: 40%;
  overflow: hidden;
}

.foot {
  background-color: red;
  width: auto;
  overflow: hidden;
}