<!DOCTYPE>
<html>  
<head>
  <title>2 Column</title>
  <link rel="stylesheet" href="css.css">
</head>
<body>
  <header class="head">Header</header>
  <div>
    <div class="row">
      <div class="topCol1">
        <p>Top Column 1</p>
      </div>
      <div class="topCol2">
        <p>Top Column 2</p>
      </div>
      <div class="main">
        <p>Main Content</p>
      </div>
    </div>
  </div>
  <div>
    <div class="sec">
      <p>Secondary Content</p>
    </div>
    <div class="third">
      <p>Third Content</p>
    </div>
  </div>
</body> 
<footer>
  <div class="foot">
    <p>Footer</p>
  </div>
</footer>
</html>