<!DOCTYPE>
<html>  
<head>
  <title>2 Column</title>
  <link rel="stylesheet" href="css.css">
</head>
<body>
  <nav>
    <header class="head">Header</header>
    <div class="bar">
      <p>Shop</p>
      <p>About</p>
      <p>Contact</p>
      <p>Story</p>
    </div>
  </nav>
  <div>
    <div class="topCol1">
      <p>Top Column 1</p>
    </div>
  </div>
  <div>
    <div class="main">
      <p>Main Content</p>
    </div>
    <div class="sec">
      <p>Secondary Content</p>
    </div>
    <div class="third">
      <p>Third Content</p>
    </div>
  </div>
</body> 
<footer>
  <div class="foot">
    <p>Footer</p>
  </div>
</footer>
</html>